@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "react-slideshow-image/dist/styles.css";

@font-face {
  font-family: "noto-sans";
  src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: url("/fonts/opensans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Righteous-Regular";
  src: url("/fonts/Righteous-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "opensans";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #292522;
  }
}

.font-righteous {
  font-family: "Righteous-Regular";
}
